* {
    font-family: "DejaVu Sans Mono";
    font-size: 14px;
}

window {
    background-color: #222436;
    border: 2px solid #82aaff;
    border-radius: 10px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1e2030;
    color: #c8d3f5;
}

#input:focus {
    outline: none;
    border: 2px solid #c099ff;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#inner-box {
    margin: 5px;
}

#entry {
    padding: 10px;
    border-radius: 8px;
    color: #c8d3f5;
}

#entry:selected {
    background-color: #2f334d;
    color: #82aaff;
}

#entry:hover {
    background-color: #2f334d;
}

#text {
    margin-left: 10px;
    color: #c8d3f5;
}

#text:selected {
    color: #82aaff;
}

#img {
    margin-right: 5px;
}
